<div class="jumbotron">
  <div class="container text-center">
    <h1>Suba Seprű</h1>
    <p>Kézzel készített seprűk, gyors kiszállítás!</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Suba seprű</a></li>
        <li><a href="#">Termékek</a></li>
        <li><a href="#">Ajánlatok</a></li>
        <li><a href="#">Magunkról</a></li>
        <li><a href="#">Elérhetőségek</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profil</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Kosár</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Kis seprű</div>
        <div class="panel-body"><img src="http://www.baluxbolt.hu/images/tetelt/4465.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Könnyű és praktikus</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-danger">
        <div class="panel-heading">Kis seprű</div>
        <div class="panel-body"><img src="http://bopci.blogcdn.p3k.hu/files/2016/06/15.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Színes trendi kivitel</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">Kontyos seprű</div>
        <div class="panel-body"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeZdzUzD5d947Z6LZhgCW88ySZm3uuQhiYfGT38aGuKK6HPe9_RQ" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Erősített strapabíró kivitel</div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Műanyag seprű</div>
        <div class="panel-body"><img src="http://img.addel.hu/termekfotok/2078/nagyarufotok/garden_kerti_sepru_muanyag_test_eros_muszal_p9u9z2.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Nem cirokseprű</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Műanyag kocsi</div>
        <div class="panel-body"><img src="https://images-na.ssl-images-amazon.com/images/I/41KFyUFXrLL.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Praktikus műanyag kocsi</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Cirokseprű</div>
        <div class="panel-body"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTj6SI2O7fAn_8kOWSBVcOzhlBMeOORSQXPP_lf30RJkrDT9984Vg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Mókás seprű</div>
      </div>
    </div>
  </div>
</div><br><br>

<footer class="container-fluid text-center">
  <p>Suba seprű Copyright</p>
  <form class="form-inline">Nagy tételű ajánlat kérés:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Küldés</button>
  </form>
</footer>

<app-servers></app-servers>
<app-server></app-server>
